<div class="center hero-unit">
  <h1> Welcome to the Intensive Reader: Alpha edition</h1>
  <p>You're in luck! Nothing is ready</p>
  <% if current_user %>
    <p> Sorry, <%= current_user.name %>
  <% end %>
</div>