<div class="center hero-unit">
  <h1> Welcome to the Intensive Reader: Alpha edition</h1>

  <% if current_user %>
    <p> Sorry, <%= current_user.name %>
  <% end %>

  <h3><%= link_to "Click here to view a sample of the current progress", demo_path %> </h3>
</div>