<h1 id="textTitle"><%= @text.title %></h1>

<h5>Slowly mouse over characters to get definitions (it takes a few seconds for yahoo to respond). Currently only works in Chrome.</h5>

<p id="content"><%= @text.content %></p>